RewriteEngine on

#	1) These files can be served directly by apache
RewriteRule \.(gif|jpe?g|png|bmp|js|css|pdf|html|ico)$ - [NC,L]

#	2) We begin by dealing with recursion. 
#   ... if we are already in the right form, we're done!
RewriteRule ^index.php/ - [L]	
RewriteRule ^runtests.php - [L]	
# also want to run test in development env


#	3) Allow specific PHP files that should be accessible directly
RewriteRule ^(setup_database|insert_sample_data|runtests)\.php$ - [L]

#	4) Block other PHP files to force through front controller
RewriteRule \.php$ - [F,NC,L]

#   	5) With that out of the way, we'll add our rule:
RewriteRule ^(.*) index.php/$1 [L,NE]

#	All done :-) and Well Done!!
